@model WhereIsGood.Models.Preference

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Preference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuisine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PreferenceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
