@model WhereIsGood.Models.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd id="address">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Preferences)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Person</th>
                    <th>Distance</th>
                    <th>Price</th>
                    <th>Cuisine</th>
                </tr>
                @foreach(var item in Model.Preferences)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Distance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cuisine)
                        </td>
                    </tr>

                }
            </table>
        </dd>

        <dt>
            Current Preferred Restaurant:
        </dt>

        <dd>
            @Html.Partial("_GroupRestaurant")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
